/*图标*/
.logo {
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*系统标题*/
.logo-title {
    font-size: 20px;
    margin-left: 5px;
    transition: all .3s;
}

/*设置菜单背景颜色*/
.el-menu-item {
    background-color: #001529;
    align-content: center;
    justify-content: center;
    height: 40px;
    line-height: 40px;
}

/*控制鼠标在菜单项移动时的颜色*/
.el-menu-item:hover {
    color: #ffffff;
}

/*控制菜单高亮显示*/
.is-active {
    background-color: #1890ff;
    border-radius: 5px;
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-right: 4px;
}

/**头部样式 */
.el-header {
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    display: flex;
    align-items: center;
}

/*下拉菜单样式*/
.dropdown-style {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

/*去除默认的边框*/
.el-tooltip__trigger {
    outline: none;
}